
@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>As the name suggests that there would be a management team who will help the patients who are seeking blood at a particular location. But we are unfamiliar with the actual working of any Blood Donation Management System (BDMS) that how the management team works or collaborate with each other in order to receive seeker’s request and as are result, tries to arrange a donor for them. For this purpose, we consulted with our university’s Blood Donation Society and uses the internet facility then we came to know about the domain knowledge of BDMS.  Now have enough domain knowledge to automate this system. Moreover, as a whole it’s a database publicly available for people at hour of need.</p>
